{% extends "base.html" %}

{% block content %}

    <h1>{{title}}</h1>
    <table>
        <form method='post' action='/newpost' id='body_area'>
            <tr>
                <label>
                    <td>Title For Your New Blog:</td>
                    <td><input type='text' name='title' value='{{blog_title}}' /></td>
                </label>
                <td class='error'>{{title_error}}</td>
            </tr>
            <tr>
                <label>
                    <td>Your New Blog:</td>
                    <td><textarea id='body_area' rows=4 cols=50 name='body' value='{{blog_body}}'></textarea>
                    </td>
                <label>
                <td class='error'>{{body_error}}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <!--<input type='hidden' name='author' value='{{author}}'>-->
                    <h4 style="text-align:left">Authored by: {{author}}</h4>
                <td>
            </tr>
            <tr>
                <td><input type='submit' value='Add Blog' /></td>
            </tr>
        </form>
    </table>
    
{% endblock %}