{% extends "base.html" %}

{% block content %}

    {% if blogs|length == 0 %}
    <p>Empty.. Let's Write Some Blogs!</p>
    {% else %}

        {% for blog in blogs %}

        <!--displays html on the fly: https://htmledit.squarefree.com/-->
        <!--explains a table: https://www.w3schools.com/html/html_tables.asp-->
        <div>
        <table >
            <tr>
              <th><a href="../singlepost?blog-id={{blog.id}}">{{blog.title}}</a></th>
                <td class='delete'>
                    <form  method="POST" action="/delete-blog" 
                         style="display:inline-block;">
                         <input type="hidden" name="blog-id" value="{{blog.id}}"/>
                         <input type="submit" value="Delete" />
                    </form></td>
            </tr>
            <tr><td>{{blog.body}}</td>
            </tr>
            <tr>
                <td>
                    <a href={{url_for('user_blogs')}}">{{blog.author_id}}</a>
                </td>
            </tr>
        </table>
        <br>
        <br>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}