<!DOCTYPE>
<html>
    <head>
        <!--<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">-->
        <!--<link href = "style.css" rel = "stylesheet">-->
        <title>Sign In</title>
    </head>
    <body>
        <header>
        <nav>
        <!--https://www.w3schools.com/tags/tag_nav.asp-->
        <a href={{url_for('signup')}}>Sign Up</a>
        <a href={{url_for('blog', default='All')}}>Main Blog Page</a>
        </nav>
    </header>
        <h1>Sign In Blogz!</h1>
        <form action='/newpost' method="post">
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                        <input id="username" name="username" type="text">
                    </td>
                    <td><p class = "error">{{username_error}}</p></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <input id="password" name="password" type="password">
                    </td>
                    <td><p class = "error">{{password_error}}</p></td>
                <tr>
                    <td><input type="submit" value="Sign In!" /></td>
                <tr>    
            </table>
        </form>
    </body>
</html>